/* For removing autoadding scroll while page started with import 'vuestic-ui/css' */
body {
  overflow: hidden;
}

#app {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}