/* For removing autoadding scroll while page started with import 'vuestic-ui/css' */
body {
  overflow: hidden;
}

#app {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.ag-theme-vuestic .ag-header-cell-text {
  color: #154ec1;
}

.tab-content .ag-theme-vuestic .ag-header {
  background-color: #ecf0f1;
}